<!-- header.component.html -->
<header class="header">
  <mat-toolbar color="primary">
    <div class="breadcrumb-container">
      <span class="title">Localisation</span>
      <span class="subtitle">
        <a href="#">Master Configuration</a> > Localisation
      </span>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="openCreateDialog()">Create</button>
    <img src="../assets/img/img.png" alt="Your Image" class="toolbar-image">
  </mat-toolbar>
</header>
