<!-- <h2 mat-dialog-title>Create New Entry</h2>
<mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="full-width">
      <mat-label>Context</mat-label>
      <input matInput formControlName="context">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Input</mat-label>
      <input matInput formControlName="input">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Output Desired</mat-label>
      <input matInput formControlName="outputDesired">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions> -->



<h2 mat-dialog-title>Create New Entry</h2>
<mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="full-width">
      <mat-label>Input</mat-label>
      <input matInput formControlName="input">
    </mat-form-field>
    <div class="full-width">
      <label for="fileInput">Upload Excel File</label>
      <input type="file" id="fileInput" (change)="onFileChange($event)">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>

